body {
    background-color: #e6e6fa;
}
/*Боковое меню*/
.nav {
    width: 200px;
    min-width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    right: -200px;
    padding: 15px 20px;
    -webkit-transition: right 1.0s;
    background: rgb(109, 170, 164);
}
.nav-toggle {
    position: absolute;
    right: 200px;
    padding: 0.5em;
    background: inherit;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2000;
    color: #e6e6fa;
    cursor: pointer;
}
.nav-toggle:after {
    content: '\2630';
}

.nav-toggle:hover {
    color: white;
}
[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    right: 2px;
    top: -0.2em;
}
[id='nav-toggle']:checked ~ .nav {
    right: 0;
}
[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}

.nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav > ul > li {
    line-height: 3;
    opacity: 0;
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
}
[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
}
.nav > ul > li > a {
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    display: inline-block;
    color: #e6e6fa;
    width: 100%;
    text-decoration: none;
    -webkit-transition: color .5s ease, padding .5s ease;
}
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 10px;
}
.nav > ul > li > a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    content: '';
    background: #e6e6fa;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
/*Оформление основной части страницы*/
.description {
    text-align: center;
    color: rgb(109, 170, 164);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}
h1 {
    text-align: center;
    color: rgb(109, 170, 164);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
}
h2 {
    text-align: center;
    color: rgb(109, 170, 164);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}
img {
    margin: 0 auto;
}
.prof {
    position: absolute;
    left: 50px;
    color: rgb(109, 170, 164);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}
/*Форма входа*/
.login_form {
   max-width: 350px;
   padding: 80px 30px 30px;
   margin: 50px auto 30px;
   background: #e6e6fa;
}
.login_div {
   position: relative;
   margin-bottom: 40px;
}
.login_div input {
   display: block;
   width: 100%;
   padding: 0 10px;
   line-height: 40px;
   font-family: 'Open Sans', sans-serif;
   background: none;
   border-width: 0;
   border-bottom: 2px solid rgb(109, 170, 164);
}
.login_div label {
   position: absolute;
   left: 13px;
   color: gray;
   font-size: 20px;
   font-weight: 300;
   transform: translateY(-35px);
   transition: all 0.2s ease;
}
.login_div input:focus {
   outline: 0;
   border-color: darkgreen;
}
.login_div input:focus+label, .login_div input:valid+label {
   transform: translateY(-60px);
   margin-left: -14px;
   font-size: 14px;
   font-weight: 400;
   outline: 0;
   border-color: darkgreen;
   color: darkgreen;
}
.login_form input[type="submit"] {
   width: 100%;
   padding: 0;
   line-height: 42px;
   background: rgb(109, 170, 164);
   border-width: 0;
   color: #e6e6fa;
   font-size: 20px;
}
.login_form input[type="submit"]:hover,
.login_form input[type="submit"]:focus {
    background: darkgreen;
    cursor: pointer;
}
/*Оформление теста*/
.alert {
    text-align: center;
    color: rgb(109, 170, 164);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.question {
    text-align: center;
    color: rgb(109, 170, 164);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.btn {
    text-align: center;
    align-items: center;
    width:300px;
    color: rgb(109, 170, 164);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.btn:hover,
.btn:focus {
    color: lavender;
    background: rgb(109, 170, 164);
    cursor: pointer;
}

.form_radio_btn {
    cursor: pointer;
    text-align-all: center;
    display: inline-block;
    margin-right: 10px;
}
.form_radio_btn input[type=radio] {
    cursor: pointer;
    text-align: center;
    display: none;
}
.form_radio_btn label {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 0px 20px;
    line-height: 50px;
    border: 2px solid #999;
    border-radius: 10px;
    user-select: none;
}
.form_radio_btn input[type=radio]:checked + label {
    background: #ffe0a6;
}
.form_radio_btn label:hover {
    color: darkgreen;
    border: 3px solid darkgreen;
}