<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <a href="{% url 'profile-master' %}">Профиль</a>
        {% else %}
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'slave' %}">Пройти тест</a>
        {% endif %}
        <a href="{% url 'logout' %}">Выйти</a>

    {% else %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register_pro' %}">Регистрация для руководителей</a>
        <a href="{% url 'register' %}">Регистрация</a>

    {% endif %}
</body>
</html>