<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница работника</title>
</head>
<body>
<script src="../../static/js/script.js">

</script>
    <div class="card-body">
        <div id="q1" style="display:block;">
            <p>Вопрос 1</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_1"></span><Br>
                    <input type="radio" name="1" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="1" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="1" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="1" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="1" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q2" style="display:none;">
            <p>Вопрос 2</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_2"></span><Br>
                    <input type="radio" name="2" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="2" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="2" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="2" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="2" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q3" style="display:none;">
            <p>Вопрос 3</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_3"></span><Br>
                    <input type="radio" name="3" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="3" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="3" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="3" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="3" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q4" style="display:none;">
            <p>Вопрос 4</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_4"></span><Br>
                    <input type="radio" name="4" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="4" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="4" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="4" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="4" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q5" style="display:none;">
            <p>Вопрос 5</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_5"></span><Br>
                    <input type="radio" name="5" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="5" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="5" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="5" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="5" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q6" style="display:none;">
            <p>Вопрос 6</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_6"></span><Br>
                    <input type="radio" name="6" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="6" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="6" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="6" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="6" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q7" style="display:none;">
            <p>Вопрос 7</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_7"></span><Br>
                    <input type="radio" name="7" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="7" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="7" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="7" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="7" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q8" style="display:none;">
            <p>Вопрос 8</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_8"></span><Br>
                    <input type="radio" name="8" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="8" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="8" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="8" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="8" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q9" style="display:none;">
            <p>Вопрос 9</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_9"></span><Br>
                    <input type="radio" name="9" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="9" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="9" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="9" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="9" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q10" style="display:none;">
            <p>Вопрос 10</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_10"></span><Br>
                    <input type="radio" name="10" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="10" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="10" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="10" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="10" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q11" style="display:none;">
            <p>Вопрос 11</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_11"></span><Br>
                    <input type="radio" name="11" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="11" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="11" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="11" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="11" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q12" style="display:none;">
            <p>Вопрос 12</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_12"></span><Br>
                    <input type="radio" name="12" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="12" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="12" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="12" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="12" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q13" style="display:none;">
            <p>Вопрос 13</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_13"></span><Br>
                    <input type="radio" name="13" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="13" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="13" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="13" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="13" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q14" style="display:none;">
            <p>Вопрос 14</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_14"></span><Br>
                    <input type="radio" name="14" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="14" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="14" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="14" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="14" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q15" style="display:none;">
            <p>Вопрос 15</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_15"></span><Br>
                    <input type="radio" name="15" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="15" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="15" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="15" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="15" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q16" style="display:none;">
            <p>Вопрос 16</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_16"></span><Br>
                    <input type="radio" name="16" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="16" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="16" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="16" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="16" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q17" style="display:none;">
            <p>Вопрос 17</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_17"></span><Br>
                    <input type="radio" name="17" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="17" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="17" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="17" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="17" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q18" style="display:none;">
            <p>Вопрос 18</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_18"></span><Br>
                    <input type="radio" name="18" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="18" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="18" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="18" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="18" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <div id="q19" style="display:none;">
            <p>Вопрос 19</p>
            <div class="alert alert-secondary" role="alert">
                <p>
                    <span id="q_19"></span><Br>
                    <input type="radio" name="19" value="0" onclick="AfterClick(this.name, this.value)"> Совершенно неверно<Br>
                    <input type="radio" name="19" value="1" onclick="AfterClick(this.name, this.value)"> Скорее неверно<Br>
                    <input type="radio" name="19" value="2" onclick="AfterClick(this.name, this.value)"> Точно не могу сказать<Br>
                    <input type="radio" name="19" value="3" onclick="AfterClick(this.name, this.value)"> Скорее верно<Br>
                    <input type="radio" name="19" value="4" onclick="AfterClick(this.name, this.value)"> Совершенно верно<Br>
                </p>
            </div>
        </div>
        <button id="kn_sl" class="btn btn-lg btn-primary btn-block" style="margin-left:auto;margin-right:auto;width:250px;" onclick="next_question();">Следующий вопрос</button>
        <button id="kn_end" class="btn btn-lg btn-primary btn-block" style="margin-left:auto;margin-right:auto;display:none;width:250px;" onclick="end();">Завершить тест</button>
        <div id="end" style="display:none;">
            <h1> Благодарим вас за прохождение теста!</h1>
        </div>
        <button id="kn_com" class="btn btn-lg btn-primary btn-block" style="margin-left:auto;margin-right:auto;display:none;width:250px;" onclick="comment();">Оставить комментарий</button>
        <div id="comment" style="display:none;">
            <p>Комментарий<Br>
            <textarea name="comment" cols="40" rows="3"></textarea></p>
            <p><input type="submit" value="Отправить">
            <input type="reset" value="Очистить"></p>
        </div>
        <div id="back" style="display:none">
            <a href="http://127.0.0.1:8000/">На главную</a>
        </div>
    </div>
</body>
</html>