{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
    <style>
    * {
        text-align: center;
        box-sizing: border-box;
    }
    </style>
</head>
<body>
<script src="../../static/js/script.js">

</script>
    <div class="card-body">
        <div id="q1" style="display:block;">
            <p class="question">Вопрос 1</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_1">Обычные обязанности напрягают меня больше чем обычно?</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-1-1" type="radio" name="1" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-1-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-1-2" type="radio" name="1" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-1-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-1-3" type="radio" name="1" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-1-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-1-4" type="radio" name="1" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-1-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-1-5" type="radio" name="1" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-1-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q2" style="display:none;">
            <p class="question">Вопрос 2</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_2">Я чувствую, что многие на работе открыто конкурируют со мной.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-2-1" type="radio" name="2" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-2-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-2-2" type="radio" name="2" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-2-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-2-3" type="radio" name="2" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-2-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-2-4" type="radio" name="2" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-2-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-2-5" type="radio" name="2" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-2-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q3" style="display:none;">
            <p class="question">Вопрос 3</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_3">Могу и накричать. Потом стыдно. Раньше так не было.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-3-1" type="radio" name="3" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-3-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-3-2" type="radio" name="3" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-3-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-3-3" type="radio" name="3" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-3-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-3-4" type="radio" name="3" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-3-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-3-5" type="radio" name="3" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-3-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q4" style="display:none;">
            <p class="question">Вопрос 4</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_4">Я боюсь все испортить в работе и всех подвести.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-4-1" type="radio" name="4" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-4-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-4-2" type="radio" name="4" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-4-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-4-3" type="radio" name="4" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-4-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-4-4" type="radio" name="4" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-4-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-4-5" type="radio" name="4" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-4-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q5" style="display:none;">
            <p class="question">Вопрос 5</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_5">Выполняю работу как робот, иногда не могу остановиться.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-5-1" type="radio" name="5" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-5-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-5-2" type="radio" name="5" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-5-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-5-3" type="radio" name="5" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-5-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-5-4" type="radio" name="5" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-5-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-5-5" type="radio" name="5" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-5-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q6" style="display:none;">
            <p class="question">Вопрос 6</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_6">Меня напрягает, если надо выполнять работу вместе с кем-то.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-6-1" type="radio" name="6" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-6-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-6-2" type="radio" name="6" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-6-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-6-3" type="radio" name="6" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-6-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-6-4" type="radio" name="6" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-6-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-6-5" type="radio" name="6" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-6-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q7" style="display:none;">
            <p class="question">Вопрос 7</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_7">Меня не радует проделанная работа.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-7-1" type="radio" name="7" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-7-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-7-2" type="radio" name="7" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-7-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-7-3" type="radio" name="7" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-7-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-7-4" type="radio" name="7" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-7-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-7-5" type="radio" name="7" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-7-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q8" style="display:none;">
            <p class="question">Вопрос 8</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_8">В последнее время, мне часто приходится оправдываться за свою неадекватную реакцию.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-8-1" type="radio" name="8" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-8-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-8-2" type="radio" name="8" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-8-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-8-3" type="radio" name="8" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-8-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-8-4" type="radio" name="8" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-8-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-8-5" type="radio" name="8" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-8-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q9" style="display:none;">
            <p class="question">Вопрос 9</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_9">Я чувствую себя колхозной лошадью, которая работает больше всех и никогда не станет председателем.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-9-1" type="radio" name="9" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-9-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-9-2" type="radio" name="9" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-9-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-9-3" type="radio" name="9" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-9-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-9-4" type="radio" name="9" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-9-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-9-5" type="radio" name="9" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-9-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q10" style="display:none;">
            <p class="question">Вопрос 10</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_10">Я чувствую, что отвечаю на вопросы случайным образом.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-10-1" type="radio" name="10" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-10-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-10-2" type="radio" name="10" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-10-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-10-3" type="radio" name="10" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-10-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-10-4" type="radio" name="10" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-10-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-10-5" type="radio" name="10" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-10-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q11" style="display:none;">
            <p class="question">Вопрос 11</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_11">В последнее время я не очень охотно присоединяюсь к эмоциям других.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-11-1" type="radio" name="11" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-11-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-11-2" type="radio" name="11" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-11-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-11-3" type="radio" name="11" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-11-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-11-4" type="radio" name="11" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-11-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-11-5" type="radio" name="11" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-11-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q12" style="display:none;">
            <p class="question">Вопрос 12</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_12">Мне стало проще сделать все самостоятельно, чем просить кого-то.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-12-1" type="radio" name="12" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-12-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-12-2" type="radio" name="12" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-12-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-12-3" type="radio" name="12" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-12-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-12-4" type="radio" name="12" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-12-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-12-5" type="radio" name="12" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-12-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q13" style="display:none;">
            <p class="question">Вопрос 13</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_13">У меня такое чувство, что мой организм предательски активно протестует против моего режима работы и старается выбить меня из колеи.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-13-1" type="radio" name="13" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-13-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-13-2" type="radio" name="13" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-13-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-13-3" type="radio" name="13" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-13-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-13-4" type="radio" name="13" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-13-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-13-5" type="radio" name="13" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-13-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q14" style="display:none;">
            <p class="question">Вопрос 14</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_14">Меня чаще стало тревожить, правильно ли я выполняю работу.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-14-1" type="radio" name="14" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-14-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-14-2" type="radio" name="14" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-14-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-14-3" type="radio" name="14" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-14-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-14-4" type="radio" name="14" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-14-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-14-5" type="radio" name="14" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-14-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q15" style="display:none;">
            <p class="question">Вопрос 15</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_15">У меня нет сил ни с кем общаться на работе, делиться своими новостями, печалями и радостями.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-15-1" type="radio" name="15" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-15-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-15-2" type="radio" name="15" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-15-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-15-3" type="radio" name="15" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-15-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-15-4" type="radio" name="15" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-15-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-15-5" type="radio" name="15" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-15-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q16" style="display:none;">
            <p class="question">Вопрос 16</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_16">Я постоянно чувствую себя уставшим.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-16-1" type="radio" name="16" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-16-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-16-2" type="radio" name="16" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-16-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-16-3" type="radio" name="16" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-16-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-16-4" type="radio" name="16" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-16-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-16-5" type="radio" name="16" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-16-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q17" style="display:none;">
            <p class="question">Вопрос 17</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_17">Я становлюсь нечувствительным к проблемам и страданиям других.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-17-1" type="radio" name="17" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-17-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-17-2" type="radio" name="17" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-17-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-17-3" type="radio" name="17" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-17-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-17-4" type="radio" name="17" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-17-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-17-5" type="radio" name="17" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-17-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q18" style="display:none;">
            <p class="question">Вопрос 18</p>
            <div class="alert" role="alert">
                <p>
                    <span id="q_18">Я буквально заставляю себя каждый день идти на работу.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-18-1" type="radio" name="18" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-18-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-18-2" type="radio" name="18" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-18-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-18-3" type="radio" name="18" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-18-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-18-4" type="radio" name="18" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-18-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-18-5" type="radio" name="18" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-18-5">Совершенно верно</label><Br>
                    </div>
                </p>
            </div>
        </div>
        <div id="q19" style="display:none;">
            <p class="question">Вопрос 19</p>
            <div class="alert" role="alert">
                <p>
                    <form action="/accounts/test/" method="post">
                    {% csrf_token %}
                    <span id="q_19">Я все принимаю близко к сердцу.</span><Br>
                    <div class="form_radio_btn">
                        <input id="radio-19-1" type="radio" name="19" value="0" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-19-1">Совершенно неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-19-2" type="radio" name="19" value="1" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-19-2">Скорее неверно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-19-3" type="radio" name="19" value="2" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-19-3">Точно не могу сказать</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-19-4" type="radio" name="19" value="3" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-19-4">Скорее верно</label><Br>
                    </div>

                    <div class="form_radio_btn">
                        <input id="radio-19-5" type="radio" name="19" value="4" onclick="AfterClick(this.name, this.value)">
                        <label for="radio-19-5">Совершенно верно</label><Br>
                    </div> <Br>
                    <div class="login_div">
                        <input type="text" name="username" required autocomplete="off"><label for="login">Логин</label>
                    </div>
                    <div>
                        <input type="submit" class="btn" value="Отправить">
                    </div>
                </form>
                </p>
            </div>
        </div>
        <div id="kn_sl">
            <button class="btn" onclick="next_question()">Следующий вопрос</button>
        </div>
    </div>
</body>
</html>